<div id="publications" class="section">
  <h1>Publications</h1>
  <hr>
  <div class="section-body">
    <ul id="publication-list" class="no-list-style">
      <li>
        Zhang K. D., Murakami Y. S., Stahl B. E. et al (2021).
        <em>Improving Bayesian posterior correlation analysis on Type Ia supernova luminosity evolution</em>,
        MNRAS, accepted manuscript,
        <a href="https://doi.org/10.1093/mnrasl/slab020">https://doi.org/10.1093/mnrasl/slab020</a>
      </li>
      <li>
        Zhang K. D., Zheng W., de Jaeger T. et al (2020).
        <em>Distribution of Si II λ6355 Velocities of Type Ia Supernovae and Implications for Asymmetric
          Explosions</em>,
        MNRAS, 499, 5325-5333,
        <a href="https://doi.org/10.1093/mnras/staa3191">https://doi.org/10.1093/mnras/staa3191</a>
      </li>
      <li>
        Kilpatrick C. D., Coulter D. A., Arcavi I., et al (accepted manuscript).
        <em>The Gravity Collective: A Search for the Electromagnetic Counterpart to the Neutron Star-Black Hole Merger
          GW190814</em>,
        arXiv:2106.06897,
        <a href="https://arxiv.org/abs/2106.06897">https://arxiv.org/abs/2106.06897</a>
      </li>
      <li>
        Murakami Y. S., Stahl B. E., Zhang K. D. et al (2021).
        <em>On the Relationship Between Type Ia Supernova Luminosity and Host-galaxy Properties</em>,
        MNRAS, 504, 34-39,
        <a href="https://doi.org/10.1093/mnrasl/slab034">https://doi.org/10.1093/mnrasl/slab034</a>
      </li>
      <li>
        Stahl B. E., Zheng W., de Jaeger T. et al (2019).
        <em>Lick Observatory Supernova Search Follow-Up Program: Photometry Data Release of 93 Type Ia Supernovae</em>,
        MNRAS, 490, 3882–3907,
        <a href="https://doi.org/10.1093/mnras/stz2742">https://doi.org/10.1093/mnras/stz2742</a>
      </li>
      </li>
      <li>
        Jaeger T., Zheng W., Stahl B. E. et al. (2019). <em>The Berkeley sample of Type II supernovae: BVRI light curves
          and spectroscopy of 55 SNe II </em>,
        MNRAS, 490, 2799–2821,
        <a href="https://doi.org/10.1093/mnras/stz2714">https://doi.org/10.1093/mnras/stz2714</a>
      </li>
      <li>
        Van Dyk S. D., Zheng W., Maund J. R. et al. (2019).
        <em>The Type II-plateau Supernova 2017eaw in NGC 6946 and Its Red
          Supergiant Progenitor</em>, ApJ, 875, 136,
        <a href="https://doi.org/10.3847/1538-4357/ab1136">https://doi.org/10.3847/1538-4357/ab1136</a>
      </li>
      <li>
        Kang, M., Pelliciari J., Frano A. et al. (2019).
        <em>Evolution of charge order topology across a magnetic phase transition in cuprate superconductors</em>,
        Nat. Phys. 15, 335–340,
        <a href="https://doi.org/10.1038/s41567-018-0401-8">https://doi.org/10.1038/s41567-018-0401-8</a>
      </li>
      <li>
        Van Dyk S. D., Zheng W., Brink T. G. et al. (2018).
        <em>SN 2017ein and the Possible First Identification of a Type Ic Supernova Progenitor</em>,
        ApJ, 860, 90,
        <a href="https://doi.org/10.3847/1538-4357/aac32c">https://doi.org/10.3847/1538-4357/aac32c</a>
    </ul>
  </div>
</div>