<h2 id="d-polar-coordinate">2D Polar Coordinate</h2>
<p>The two-dimensional polar coordinate uses the two parameter vectors <span class="math inline">\(\boldsymbol{r}\)</span> and angle vector <span class="math inline">\(\boldsymbol{\phi}\)</span>. It is simply defined by unit vectors,</p>
<p><span class="math display">\[
\boldsymbol{r} = r\boldsymbol{\hat r}
\]</span></p>
<p><span class="math display">\[ \boldsymbol{\phi} = \phi\boldsymbol{\hat \phi} \]</span></p>
<h3 id="cartesian-to-polar">Cartesian to Polar</h3>
<p>We make the transformation given <span class="math inline">\(x, y\)</span> by,</p>
<p><span class="math display">\[
\begin{align}
    \begin{pmatrix}
        x = r \cos \phi\\
        y = r \sin \phi
    \end{pmatrix}
    \longleftrightarrow
    \begin{pmatrix}
        r = \sqrt{x^2 + y^2}\\
        \phi = \arctan (y/x)
    \end{pmatrix}
\end{align}
\]</span></p>
<ul>
<li>This transformation is not mathematically general since we use <span class="math inline">\(\arctan\)</span>. More properly use <span class="math inline">\(\arctan2\)</span></li>
</ul>
<h3 id="velocity">Velocity</h3>
<p>There is an unfamiliar property for the rate of change in polar coordinates compared to cartesian coordinates. Most prominent is velocity, <span class="math inline">\(\boldsymbol{\dot r}\)</span> which is,</p>
<p><span class="math display">\[ \boldsymbol{\dot r} = \frac{dr}{dt} \boldsymbol{\hat r} + r\frac{d\boldsymbol{\hat r}}{dt} \]</span></p>
<p>Which may be simplified to,</p>
<p><span class="math display">\[\begin{align}
    \boldsymbol{v} \equiv \boldsymbol{\dot r}\\
    v_r \equiv \dot r \quad v_\phi &amp;\equiv r \dot \phi
\end{align}\]</span></p>
<p><span class="math display">\[\boxed{\boldsymbol{v} \equiv v_r \boldsymbol{\hat r} + v_\phi  \boldsymbol{\hat \phi}} \]</span></p>
<h4 id="derivation">Derivation</h4>
<p>Naively one may assume <span class="math inline">\(d\boldsymbol{\hat r}/dt = 0\)</span> however this is not the case because <span class="math inline">\(\boldsymbol{\hat r}\)</span> is allowed to change directions over time<a href="#fn1" class="footnote-ref" id="fnref1" role="doc-noteref"><sup>1</sup></a>. Let’s take for granted and assume <span class="math inline">\(d\boldsymbol{\hat r}/dt = \dot \phi \boldsymbol{\hat \phi}\)</span></p>
<p><span class="math display">\[ \begin{align}
    \boldsymbol{\dot r} &amp;= \frac{dr}{dt} \boldsymbol{\hat r} + r\frac{d \phi}{dt}\boldsymbol{\hat \phi} \\
    \boldsymbol{\dot r} &amp;= \dot r \boldsymbol{\hat r} + r \dot \phi \boldsymbol{\hat \phi}
\end{align}
\]</span></p>
<p>More familiar uses the identity,</p>
<p><span class="math display">\[\begin{align}
    \boldsymbol{v} \equiv \boldsymbol{\dot r}\\
    v_r \equiv \dot r \quad v_\phi &amp;\equiv r \dot \phi
\end{align}\]</span></p>
<p><span class="math display">\[\boxed{\boldsymbol{v} \equiv v_r \boldsymbol{\hat r} + v_\phi  \boldsymbol{\hat \phi}} \]</span></p>
<h3 id="acceleration">Acceleration</h3>
<p>The second time derivative or acceleration is defined as,</p>
<p><span class="math display">\[ \boldsymbol{a} \equiv \boldsymbol{\ddot r} = \boldsymbol{\dot v} \]</span></p>
<p>Knowing <span class="math inline">\(d \boldsymbol{\hat \phi}/dt\)</span> gives us acceleration as,</p>
<p><span class="math display">\[ \frac{d\boldsymbol{\hat\phi}}{dt} = -\frac{d\phi}{dt}\boldsymbol{\hat r} \]</span></p>
<p><span class="math display">\[ \boldsymbol{a} = (\ddot r - r\phi^2)\boldsymbol{\hat r} + (r \ddot \phi + 2\dot r \dot \phi)\boldsymbol{\hat \phi} \]</span></p>
<p>Given that <span class="math inline">\(\dot r = 0\)</span> thus <span class="math inline">\(\ddot r = 0\)</span> gives us a somewhat more familiar form of acceleration,</p>
<p><span class="math display">\[ a = -r\dot \phi^2 \boldsymbol{\hat r} + r\ddot \phi \boldsymbol{\hat \phi} \]</span></p>
<p><span class="math display">\[ a_\text{c} \equiv r\dot \phi^2 = r\omega^2, \qquad  a_\perp \equiv r\ddot \phi = r\alpha\]</span></p>
<p><span class="math display">\[ a = a_c \boldsymbol{\hat r} + a_\perp \boldsymbol{\hat \phi} \]</span></p>
<ul>
<li><span class="math inline">\(\alpha\)</span> : angular acceleration</li>
<li><span class="math inline">\(a_c\)</span> : centripetal acceleration</li>
<li><span class="math inline">\(a_\perp\)</span> : tangential acceleration</li>
</ul>
<section class="footnotes" role="doc-endnotes">
<hr />
<ol>
<li id="fn1" role="doc-endnote"><p>When learning vectors in cartesian coordinates we take for granted that <span class="math inline">\(d\boldsymbol{\hat x}/dt = 0\)</span> which is definitely true since <span class="math inline">\(\boldsymbol{\hat x}\)</span> never changes directions.<a href="#fnref1" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
</ol>
</section>
