<p>All of the major topics of Physics which one may wish to learn. Box is checked if there exists a notebook here about the topic.</p>
<h2 id="classical-theory">Classical Theory</h2>
<ul>
<li>[x] Newtonian Mechanics</li>
<li>[x] Lagrangian and Hamiltonian Mechanics</li>
<li>[x] Statistical Mechanics</li>
<li>[x] Thermodynamics</li>
<li>[x] Electromagnetism</li>
<li>[ ] Fluid Mechanics</li>
<li>[ ] Chaos Theory</li>
</ul>
<h2 id="quantum-theory">Quantum Theory</h2>
<ul>
<li>[x] Quantum Mechanics</li>
<li>[x] Quantum Field Theory</li>
<li>[ ] Solid State Physics</li>
</ul>
<h2 id="relativity-theory">Relativity Theory</h2>
<ul>
<li>[ ] Special Relativity</li>
<li>[ ] General Relativity</li>
</ul>
<h2 id="particle-physics">Particle Physics</h2>
<ul>
<li>[ ] The Standard Model</li>
</ul>
<h2 id="cosmology">Cosmology</h2>
<ul>
<li>[x] Standard Model of Cosmology (ΛCDM)</li>
<li>[x] Inflation Theory</li>
</ul>
<h2 id="others">Others</h2>
<ul>
<li>[ ] String Theory</li>
</ul>
