<p>All of the major topics of Physics which one may wish to learn. Box is checked if there exists a notebook here about the topic.</p>
<h2 id="classical-theory">Classical Theory</h2>
<ul class="task-list">
<li><input type="checkbox" disabled="" checked="" />
Newtonian Mechanics</li>
<li><input type="checkbox" disabled="" checked="" />
Lagrangian and Hamiltonian Mechanics</li>
<li><input type="checkbox" disabled="" checked="" />
Statistical Mechanics</li>
<li><input type="checkbox" disabled="" checked="" />
Thermodynamics</li>
<li><input type="checkbox" disabled="" checked="" />
Electromagnetism</li>
<li><input type="checkbox" disabled="" />
Fluid Mechanics</li>
<li><input type="checkbox" disabled="" />
Chaos Theory</li>
</ul>
<h2 id="quantum-theory">Quantum Theory</h2>
<ul class="task-list">
<li><input type="checkbox" disabled="" checked="" />
Quantum Mechanics</li>
<li><input type="checkbox" disabled="" checked="" />
Quantum Field Theory</li>
<li><input type="checkbox" disabled="" />
Solid State Physics</li>
</ul>
<h2 id="relativity-theory">Relativity Theory</h2>
<ul class="task-list">
<li><input type="checkbox" disabled="" />
Special Relativity</li>
<li><input type="checkbox" disabled="" />
General Relativity</li>
</ul>
<h2 id="particle-physics">Particle Physics</h2>
<ul class="task-list">
<li><input type="checkbox" disabled="" />
The Standard Model</li>
</ul>
<h2 id="cosmology">Cosmology</h2>
<ul class="task-list">
<li><input type="checkbox" disabled="" checked="" />
Standard Model of Cosmology (ΛCDM)</li>
<li><input type="checkbox" disabled="" checked="" />
Inflation Theory</li>
</ul>
<h2 id="others">Others</h2>
<ul class="task-list">
<li><input type="checkbox" disabled="" />
String Theory</li>
</ul>
