playground.py
node_modules/
*__pycache__/
*.egg-info/
*.pytest_cache
*.vscode/
*.webassets-cache/
*.venv/
*.bak

# VS Code
*.code-workspace

# Mac OS
.DS_Store

# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
