---
layout: CV
---

<main>
  <div id="content">
    <!-- EDUCATION -->
    {% include CV/education.html %}

    <!-- EXPERIENCE AND SKILLS -->
    <div id="software-experiences" class="section">
      <h1>Software Experiences</h1>
      <hr>
      <div class="section-body">
        {% include CV/experiences/software.html %}
      </div>
    </div>

    <div id="research-experiences" class="section">
      <h1>Research Experiences</h1>
      <hr>
      <div class="section-body">
        {% include CV/experiences/leadership.html %}
        {% include CV/experiences/scientist.html %}
      </div>
    </div>

    <div id="publications" class="section">
      <h1>Publications</h1>
      <hr>
      <div class="section-body">
        {% include CV/publications.html %}
      </div>
    </div>
  </div>
</main>