<h2 id="probabilistic-models">Probabilistic Models</h2>
<h2 id="discriminant-analyisis">Discriminant Analyisis</h2>
<h2 id="regression">Regression</h2>
<h2 id="decision-trees">Decision Trees</h2>
<ul>
<li>Object, Algorithm</li>
<li>Random Forest</li>
<li>Adaboost</li>
</ul>
<h2 id="kernelization">Kernelization</h2>
<ul>
<li>Ridge Kernel</li>
<li>Polynomial Kernel</li>
</ul>
<h2 id="neural-networks">Neural Networks</h2>
<ul>
<li>Fully Connected Layer</li>
<li>Convolution Layer</li>
</ul>
<h2 id="clustering">Clustering</h2>
<ul>
<li>k-Means Clustering</li>
<li>Hierarchical Clustering</li>
<li>Spectral Clustering</li>
</ul>
<h2 id="k-nearest-neighbor">k-Nearest Neighbor</h2>
<p>Take the goal, algorithmm and use case of: * Vornoi Diagram * k-d Tree * Exhausive Search</p>
<h2 id="principle-component-analysis">Principle Component Analysis</h2>
<ul>
<li>Latent Factor Analysis ## Singular Value Decomposition</li>
<li>Definition</li>
<li>Low Rank Approximation</li>
</ul>
<h2 id="feature-engineering">Feature Engineering</h2>
<ul class="task-list">
<li><input type="checkbox" disabled="" />
Feature Selection</li>
<li><input type="checkbox" disabled="" />
Dimensionality Reduction</li>
<li><input type="checkbox" disabled="" />
Feature Scaling</li>
</ul>
<hr />
<h1 id="page-1">Page 1</h1>
<h2 id="heuristics">Heuristics</h2>
<ul>
<li>Neural Network
<ul>
<li><span class="math inline">\(\downarrow\)</span> Training Error: layers, nodes/units, normalization</li>
<li>CNN Intuition: Last layers are components of an image</li>
<li>Normalization: LASSO, neural network, SVM</li>
</ul></li>
</ul>
<h2 id="optimization">Optimization</h2>
<ul class="task-list">
<li><input type="checkbox" disabled="" />
Gradient Descent</li>
<li><input type="checkbox" disabled="" />
Convexity</li>
<li><input type="checkbox" disabled="" />
Loss Functions<ul class="task-list">
<li><input type="checkbox" disabled="" />
Cross Entropy</li>
</ul></li>
<li><input type="checkbox" disabled="" />
Line Search Methods<ul class="task-list">
<li><input type="checkbox" disabled="" />
Newton-Raphson’s Method</li>
</ul></li>
<li><input type="checkbox" disabled="" />
Quadratic Programs</li>
</ul>
<h2 id="linear-algebra">Linear Algebra</h2>
<ul class="task-list">
<li><input type="checkbox" disabled="" />
Calculus</li>
</ul>
