{% extends "CV/base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='CV.css') }}" />
{% endblock %}

{% block content %}

{% set all_fields = ["cs", "ds", "science"] %}
{% set field=request.args.get("field", False) %}
{% set all= not field %}

<!-- EDUCATION -->
{% include 'CV/education.html' %}


<!-- POSITIONS -->
{% include 'CV/professional_positions.html' %}

<!-- CUSTOMS -->
{% if field == None %}
{% include 'CV/CV_all.html' %}
{% elif field == 'fullstack' %}
{% include 'CV/Resume_fullstack.html' %}
{% elif field == 'software' %}
{% include 'CV/Resume_software.html' %}
{% elif field == 'research' %}
{% include 'CV/Resume_research.html' %}
{% else %}
{% include 'CV/CV_all.html' %}
{% endif %}


{% endblock %}