{% extends 'base.html' %}
{% include 'header.html' %}
{% block content %}
<main class="container">
  <h1 class="title">Flashcards</h1>
  <div class="flashcard d-none">
    <div class="flashcard-prev"></div>
    <div class="flashcard-next"></div>
    <div class="flashcard-body">
      <div class="flashcard-counter"></div>
      <div class="flashcard-content">
        {% include 'notes/Physics/GRE_Review/Flashcards.html' %}
      </div>
    </div>
  </div>
  <ul id="flashcards" class="no-list-style w-50 mt-3 pl-0"></ul>
  <button role="button" data-toggle="collapse" href="#dlist" id="show_dlist" class="btn btn-secondary"> Show defintiion
    list <strong>></strong></button>
  <div id="dlist" class="collapse">
    <hr>
    {% include 'notes/Physics/GRE_Review/Flashcards.html' %}
  </div>
</main>
{% endblock %}

{% block scripts %}
<script src="{{site_url}}static/flashcard.js"></script>
<!-- <script>
$("#show_dlist").click(function () {
  $("#dlist").removeClass('d-none')
})
</script> -->
{% endblock %}