{% extends "base.html" %}
{% block content %}
<div class="container-fluid" id="note">
    <!-- <nav class="navbar navbar-expand-lg">
        <button id="sidenavCollapse" class="btn btn-info" type="button">
            <i class="fas fa-align-left"></i>
            <span>Toggle Sidebar</span>
        </button>
    </nav> -->
    <h1 class="title text-center pt-3">{{page['title']}}</h1>
    <hr>
    <div class="row">
        <!-- Notebook Sidenav -->
        <div class="col-xl-2 col-lg-3 col-3 d-none d-md-block bg-light pt-1">
            <div class="sidenav sticky-top vh-80">
                <div class="sidenav-title row no-gutters">
                    <div class="col-9">
                        <strong>{{page['title']}}</strong>
                    </div>
                    <div class="col-2 offset-1">
                        <a class="go-up" href="{{parse_url(page['parent'])}}" role="button">
                            <img src="https://img.icons8.com/dotty/80/000000/up.png" style="width: 25px; height: 25px">
                        </a>
                    </div>
                </div>
                <div class="sidenav-body no-gutters">
                    <ul class="no-list-style pl-3">
                        {% for subpage_url, subpage in page['subpages'].items() %}
                        <li class='pb-3'><a href="{{parse_url(subpage_url)}}">{{subpage['title']}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Content -->
        <div class="col-xl-8 col-lg-6 col-9 h-100">
            {% if page['has_content'] %}
            <div class="markdown-content">
                {{ include_raw(page['content_path']) }}
            </div>
            {% endif %}
        </div>

        <!-- On This Page -->
        <div class="col-xl-2 col-lg-3 d-none d-lg-block">
            <div class="onthispage sidenav sticky-top vh-80">
                <strong class="sidenav-title">On This Page</strong>
                <div class="sidenav-body">
                    <ul id="onthispage-list" class="no-list-style"></ul>
                </div>
            </div>
        </div>

    <!-- Disqus Comments -->
    </div>
    {% if page['has_content'] %}
    <div class="row  mt-5">
        <div class="col-xl-8 col-lg-6 col-9 offset-xl-2 offset-lg-3 p-0">
            <div id="disqus_thread" class="text-center">
            <button type="button" class="btn btn-block btn-outline-dark show-comments">Show Comments</button>
            </div>
            <!-- <script>

                /**
                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                var disqus_config = function () {
                    this.page.url = "{{request.root_url}}";  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "{{request.path}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                (function () { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://ketozhang.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered
                    by Disqus.</a></noscript> -->
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}