{% extends "base.html" %}
{% block content %}
<div class="container-fluid" id="note">
    <!-- <nav class="navbar navbar-expand-lg">
        <button id="sidenavCollapse" class="btn btn-info" type="button">
            <i class="fas fa-align-left"></i>
            <span>Toggle Sidebar</span>
        </button>
    </nav> -->
    <h1 class="title text-center pt-3">{{page['title']}}</h1>
    <hr>
    <div class="row">
        <!-- Notebook Sidenav -->
        <div class="col-xl-2 col-lg-3 col-3 d-none d-md-block bg-light pt-1">
            <div class="sidenav sticky-top vh-80">
                <div class="sidenav-title row no-gutters">
                    <div class="col-9">
                        <strong>{{page['title']}}</strong>
                    </div>
                    <div class="col-2 offset-1">
                        <a class="go-up" href="{{parse_url(page['parent'])}}" role="button">
                            <img src="https://img.icons8.com/dotty/80/000000/up.png" style="width: 25px; height: 25px">
                        </a>
                    </div>
                </div>
                <div class="sidenav-body no-gutters">
                    <ul class="no-list-style pl-3">
                        {% for subpage_url, subpage in page['subpages'].items() %}
                        <li class='pb-3'><a href="{{parse_url(subpage_url)}}">{{subpage['title']}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Content -->
        <div class="col-xl-8 col-lg-6 col-9 h-100">
            <div class="markdown-content">
                {% if page['has_content'] %}
                {% include page['content_path'] %}
                {% endif %}
            </div>
        </div>

        <!-- On This Page -->
        <div class="col-xl-2 col-lg-3 d-none d-lg-block">
            <div class="onthispage sidenav sticky-top vh-80">
                <strong class="sidenav-title">On This Page</strong>
                <div class="sidenav-body">
                    <ul id="onthispage-list" class="no-list-style"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
