{% extends "base.html" %}
{% block content %}
{% include 'header.html' %}
<div class="container-fluid" id="post">
    <div class="row">
        <!-- Content -->
        <div class="col-xl-9 col-lg-8 col-12 h-100">
            <div class="title-header">
                <h1 class="title mb-3">{{page['title']}}</h1>
                <div class="metadata">
                    <p class="m-0">By {{author}} <span class="mx-1 align-middle" style="font-size: 30px">&#183</span>
                        Last
                        updated
                        <time datetime="{{page['last_updated']}}"></time></p>
                </div>
                <p class="description">{{page['description']}}</p>
                {% if 'image' in page %}
                <img id="post-img" class="mx-auto d-block" src={{parse_url(page['image'])}}>
                {% endif %}
                <hr>
            </div>

            <div class="markdown-content">
                {% if page['has_content'] %}
                {% include page['content_path'] %}
                {% endif %}
            </div>
        </div>
        <!-- On This Page -->
        <div class="col-xl-3 col-lg-4 d-lg-block d-none onthispage">
            <div class="sticky-top vh-80 sidenav onthispage">
                <strong>On This Page</strong>
                <div class="sidenav-body">
                    <ul id="onthispage-list" class="no-list-style"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- </div> -->
{% endblock %}
