{% extends "base.html" %}
{% block content %}
{% include 'header.html' %}
<div class="container" id="post">
  <div class="row">
    <!-- Content -->
    <div class="col-10 col-xl-12 h-100">
      <div class="title-header">
        <h1 class="title">{{page['title']}}</h1>
        <img id="post-img" class="mx-auto d-block img-fluid"
          src={{ url_for(page.get('image', '/static/images/default.jpg')) }}>

        <div class="metadata">
          <p class="m-0">
            By: {{author}}
            <span class="mx-1">&bull;</span>
            Last Updated:
            <time datetime="{{ page.last_updated }}"></time>
          </p>
        </div>
        <hr>
      </div>

      {% if page.description %}
      {{page.description}}
      {% endif %}
      <div class="markdown-content">
        {% if page['has_content'] %}
        {{ include_raw(page['content_path']) }}
        {% endif %}
      </div>
    </div>

    <div class="col-2 d-xl-none"></div>


  </div>
  <!-- Disqus Comments -->
  <div id="disqus_thread" class="row justify-content-center">
    <button type=" button" class="col-6 col-align-self-center btn btn-block btn-outline-dark show-comments">Show
      Comments</button>
  </div>
</div>
{% endblock %}