<header>
  <nav class="navbar navbar-expand navbar-light">
    <div class="d-flex mx-auto">
      <ul class="navbar-nav">
        </li>
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Notes</a>
          <div class="dropdown-menu">
            <a href="https://ketozhang.github.io/notes/Astrophysics/"
              class="dropdown-item">Astrophysics</a>
            <a href="https://ketozhang.github.io/notes/Computer_Science/"
              class="dropdown-item">Computer
              Science</a>
            <a href="https://ketozhang.github.io/notes/Data_Science/" class="dropdown-item">Data
              Science</a>
            <a href="https://ketozhang.github.io/notes/Physics/" class="dropdown-item">Physics</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>