<header>
  <nav class="navbar navbar-expand navbar-light">
    <div class="d-flex mx-auto">
      <ul class="navbar-nav">
        </li>
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="https://ketozhang.github.io/blog">Blog</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Notes</a>
          <div class="dropdown-menu">
            <a href="https://ketozhang.github.io/notes/Astrophysics/_build/html/index.html"
              class="dropdown-item">Astrophysics</a>
            <a href="https://ketozhang.github.io/notes/Data_Science/_build/html/index.html" class="dropdown-item">Data
              Science</a>
            <a href="https://ketozhang.github.io/notes/Physics/_build/html/index.html" class="dropdown-item">Physics</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>