<!-- Undergraduate Lead -->
<div class="row item">
  <div class="col-8">
    <div class="position">Lead of Undergraduate Research Telescope Observers</div>
    <div class="company">Alex Filippenko Research Group</div>
  </div>
  <div class="col-4 text-right">May 2019 &ndash; May 2020 <br><em>Berkeley, CA</em></div>
</div>
<ul>
  <li>Managed, trained, and created schedules for a team of undergraduate research observers to observe on the Nickel 1-m telescope at Lick Observatory 7 times a month.</li>
  <li>Encouraged the undergraduate team members to do beyond telescope observation by taking up their own research or development projects. Some took up projects, wrote papers, and presented their work at an astronomy conference (i.e., AAS)</li>
</ul>
<!-- <div class="section">
  <h1>Leadership Experience</h1>
  <hr>
  <div class="section-body">
  </div>
</div> -->