// Font
$base-font-family: "Poppins", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$style-font-family: $base-font-family;
$base-font-color: #595959;
$style-font-color: #2d2d2d;
$base-font-weight: 400;
$code-font-family: SFMono-Regular, Menlo, Monaco,
               Consolas, "Liberation Mono",
               "Courier New", monospace;

$base-font-size: 16px;
$xlarge-font-size: $base-font-size * 2;
$large-font-size: $base-font-size * 1.5;
$medium-font-size: $base-font-size * 1.25;
$small-font-size: $base-font-size * 0.875;

// Colors
:root {
--gray-000: hsl(210, 17%, 98%);
--gray-100: hsl(210, 17%, 95%);
--gray-200: hsl(210, 16%, 93%);
--gray-300: hsl(210, 14%, 89%);
--gray-400: hsl(210, 14%, 83%);
--gray-500: hsl(210, 11%, 71%);
--gray-600: hsl(210, 7%, 56%);
--gray-700: hsl(210, 9%, 31%);
--gray-800: hsl(210, 10%, 23%);
--gray-900: hsl(210, 11%, 15%);

--red: #E65577;
--blue: #1C7ED6;
--purple: #BE4BDB;

}

// Paragraph
$base-line-height: 1.75;

// Border Radius
$base-border-radius: 16px;

@media (prefers-color-scheme: light) {
  :root {
    --body-color: var(--gray-700);
    --body-bg: white;
    --heading-color: var(--gray-900);
    --border-color: var(--gray-400);
    --link-color: var(--blue);
    --code-color: var(--red);
  }
}