// Font
$base-font-family: "Poppins", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$style-font-family: $base-font-family;
$base-font-color: rgb(89, 89, 89);
$style-font-color: rgb(45, 45, 45);
$base-font-weight: 400;
$code-font-family: SFMono-Regular, Menlo, Monaco,
               Consolas, "Liberation Mono",
               "Courier New", monospace;

$base-font-size: 16px;
$xlarge-font-size: $base-font-size * 2;
$large-font-size: $base-font-size * 1.5;
$medium-font-size: $base-font-size * 1.25;
$small-font-size: $base-font-size * 0.875;

// Colors
$background-color: white;
$light-border-color: rgba(0, 0, 0, 0.25);
$link-color: #B877DB;
$code-font-color: #E65577;

// Paragraph
$base-line-height: 1.75;

// Border Radius
$base-border-radius: 16px;