<h2 id="statistical-modeling">Statistical Modeling</h2>
<ul>
<li>[ ] Probabilistic Models</li>
<li>[ ] Discriminant Analyisis</li>
<li>[ ] Regression
<ul>
<li>[ ] Least Squares
<ul>
<li>Normal Equation (one step less than using gradient)</li>
</ul></li>
</ul></li>
<li>[ ] Decision Trees</li>
<li>[ ] Kernelization</li>
<li>[ ] Neural Networks</li>
<li>[ ] Clustering
<ul>
<li>[ ] Spectral Clustering</li>
<li>[ ] k-Means Clustering</li>
</ul></li>
<li>[ ] k-Nearest Neighbor
<ul>
<li>Runtime</li>
</ul></li>
</ul>
<h2 id="feature-engineering">Feature Engineering</h2>
<ul>
<li>[ ] Feature Selection</li>
<li>[ ] Dimensionality Reduction</li>
<li>[ ] Feature Scaling</li>
</ul>
<h2 id="optimization">Optimization</h2>
<ul>
<li>[ ] Gradient Descent</li>
<li>[ ] Convexity</li>
<li>[ ] Loss Functions
<ul>
<li>[ ] Cross Entropy</li>
</ul></li>
<li>[ ] Line Search Methods
<ul>
<li>[ ] Newton-Raphson’s Method</li>
</ul></li>
<li>[ ] Quadratic Programs</li>
</ul>
<h2 id="linear-algebra">Linear Algebra</h2>
<ul>
<li>[ ] Calculus</li>
</ul>
<h2 id="others">Others</h2>
<ul>
<li>[ ] Rayleigh Quotient</li>
</ul>
