[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"
gunicorn = "*"

[packages]
flask = "*"
pypandoc = "*"
frozen-flask = "*"
werkzeug = "*"
python-frontmatter = "*"
pyyaml = "*"
# e1839a8 = {editable = true,path = "."}
pyscss = "*"
flask-assets = "*"
staticpy = "*"

[requires]
python_version = "3.7"
