{% extends "base.html" %}
{% block content %}
{% include 'header.html' %}
<div class="container">
  <h1 class="title mb-4">Notebooks</h1>
  <!-- page can either be a notebook or a note -->
  <!-- <ul class="list-unstyled"> -->
  <div class="card-columns">
    {% for page_url, page in pages.items() %}
    <div class="card">
      <div class="card-header">
        <a class="text-dark" href="{{ parse_url(page_url) }}" target='_blank'>
          <strong>{{ page['title'] }}</strong>
        </a>
      </div>
      <ul class="list-group list-group-flush">
        {% for page_url, page in page['subpages'].items() %}
        <li class="list-group-item p-2 pl-4">
          <a href="{{ parse_url(page_url) }}" target='_blank'>
            <!-- <img class='pr-2' src="{{site_url}}static/images/icons8-spiral-bound-booklet.png" style="height: 24px"> -->
            {{ page['title'] }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
  <!-- </ul> -->
  <!-- {% for url in notebook_urls %}
    <p><a href={{url}}>{{url}}</a></p>
    {% endfor %} -->
</div>
{% endblock %}