@import "variables";

// Body
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  padding-bottom: 80px;
  color: $base-font-color;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $style-font-family;
    color: black;
    line-height: 2.25;
  }

  header {
    margin-bottom: 2em;
  }
}

a {
  color: $orange-color;
}
a:hover {
  color: $orange-color;
}

code {
  font-family: $code-font-family;
}

p > code,
li > code {
  color: #358ccb;
  border: 1px solid rgba(97, 97, 97, 0.4);
  border-radius: 3px;
  padding: 0px 2px 0px 2px;
  margin: 0px 1px 0px 0px;
  /* box-shadow: 0.5px 0.5px 1px rgba(97, 97, 97, 0.5); */
}

blockquote {
  font-size: $base-font-size !important;
}
