@import "variables";
@import "base";
@import "header";
@import "markdown";
@import "note";
@import "post";

/* Global */

/*
Base Configs
font-color: #616161
*/

html {
  overflow-y: scroll;
}

.container {
  max-width: 90%;
}

.container-fluid {
  max-width: 95%;
  padding: 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

/* pre {
  border: 1px solid rgba(97, 97, 97, .4);
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(97, 97, 97, 0.5);
  background: rgba(97, 97, 97, 0.15);
  margin: 3em 0 3em 0;
  padding: 1em;
  width: 75%;
} */

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  text-decoration: none;
}

.title {
  color: black;
  text-decoration: none;
  line-height: 1;
  margin-bottom: 1em;
}

.title-header {
  hr {
    border: none;
    height: 1px;
    background-color: $base-font-color;
  }
}

.card-title {
  color: black;
}

a.brand {
  font-size: 2.25em;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

hr.gradient {
  border: 0;
  height: 2px;
  // Orange using $orange-color
  background-image: linear-gradient(
    to right,
    rgba(253, 181, 21, 0),
    rgba(253, 181, 21, 15),
    rgb(253, 181, 21),
    rgba(253, 181, 21, 15),
    rgba(253, 181, 21, 0)
  );
}

.social-link img:hover {
  opacity: 0.7;
}

blockquote {
  border-left: 0.25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
  margin-bottom: 16px;
  margin-top: 0;
}

footer {
  /* position: fixed; */
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  font-size: 1rem;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* Background */

.bg-warning {
  background-color: #fdb515;
}

/* Buttons */

.btn-link {
  text-decoration: none;
  font-weight: inherit;
  color: inherit;
}

.btn-link:hover {
  text-decoration: none;
}

.btn-warning {
  background-color: #fdb515;
}

/* Icon */

.icon {
  height: 1em;
}

.limit-2-lines {
  text-overflow: ellipsis;
  word-wrap: break-word;
  max-height: 3em;
}

.limit-2-lines::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(transparent 150px, white);
}

.no-list-style {
  list-style-type: none;
}

.sticky-top {
  z-index: auto;
}

/* Sidenav */

.sidenav {
  text-overflow: ellipsis;
  font-family: $style-font-family;
}

.sidenav a {
  color: #616161;
}

.sidenav-body {
  font-size: 1rem;
  line-height: 1.15rem;
}

.sidenav-header {
  padding-top: 1em;
  padding-bottom: 0.5em;
  font-family: $style-font-family;
}

/* On This Page */

.onthispage {
  position: sticky;
  top: 0;
  height: 20vh;
  padding-right: 2em;
}

.onthispage .sidenav-body,
.onthispage .sidenav {
  height: inherit;
  direction: ltr;
}

.onthispage .sidenav-body {
  padding-right: 0px;
  padding-top: 0.5em;
}

.onthispage .sidenav-body ul {
  padding: 0;
  padding-left: 0.5em;
}

.onthispage .onthispage-collapse {
  display: none;
  /* position: absolute;
  top: 0;
  left: 0; */
}

.onthispage:hover .onthispage-collapse {
  display: block;
  /* border: 1px solid black; */
  /* border-radius: 10px; */
  /* position: absolute;
  top: 0;
  left: 0; */
}

.onthispage > ul {
  padding-left: 0;
}

.onthispage ul {
  /* padding-top: 0.8em; */
  padding-left: 1em;
}

.onthispage-list {
  padding-bottom: 1em !important;
}

.onthispage-list li {
  padding-top: 1em;
}

.onthispage-list li:first-child {
  padding-top: 0em;
}

/* Context */

/* .sidenav.active {
  margin-left: -250px;
} */

/* Markdown Styles */

.markdown-content {
  font-family: $base-font-color;
  line-height: 1.6em;

  h1 {
    font-family: $style-font-family;
    font-size: 2.5rem;
  }

  h2 {
    font-family: $style-font-family;
    font-size: 2rem;
  }

  h3 {
    font-family: $style-font-family;
    font-size: 1.75rem;
  }

  h4,
  h5,
  h6 {
    font-family: $style-font-family;
    font-size: 1rem;
    font-weight: bold;
  }
}

.markdown-content h2:first-child,
.markdown-content h3:first-child,
.markdown-content h4:first-child {
  margin-top: 0;
}

.markdown-content table .markdown-content dl {
  margin-bottom: 16px;
  margin-top: 0;
}

.markdown-content th {
  border: 1px solid #dfe2e5;
  border-bottom: 2px solid #dfe2e5;
  padding: 6px 13px;
}

.markdown-content td {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}

.markdown-content table tr.even {
  background-color: #f6f8fa;
}

.markdown-content dd {
  padding-left: 16px;
}

.markdown-content dt {
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
  margin-top: 16px;
}

.markdown-content .sourceCode {
  font-size: 0.95em;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

// Introduction

#intro {
  margin-bottom: 1em;

  img {
    margin: auto;
    display: block;
  }
}

/* Project Showcase */

#project-showcase {
  .title {
    margin-bottom: 0.5em;
  }
}
