#note .onthispage {
  position: fixed;
  width: 200px; }
  #note article {
    min-height: 80vh; }

.search {
  margin-top: 2em; }

  #notes-card-columns .card-header a {
    text-decoration: none; }

#post #post-img {
  object-fit: contain;
  margin-top: -0.5em;
  margin-bottom: 1em;
  height: 360px;
  width: 100%; }
  #post .onthispage {
    position: sticky;
    width: unset; }

.post-card .post-card-title * {
  line-height: 1.25; }
  .post-card .post-card-title a {
    text-decoration: none;
    color: #595959;
    transition: color 0.2s ease-in-out; }
.post-card img {
  transition: opacity 0.2s ease-in-out; }
  .post-card :hover .post-card-title a {
    color: #fdb515; }
  .post-card :hover img {
    opacity: 0.8; }
.post-card .post-card-description {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3em; }
  .post-card .post-card-footer {
    margin-top: 0.5em; }

body {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-size: 1.0625rem;
  padding-bottom: 80px;
  color: #595959; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: "Quicksand", "Helvetica", "Arial", sans-serif;
    color: black; }
    body h1 {
      margin-bottom: 0.5em; }

header {
  margin-bottom: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25); }

  a {
    color: #fdb515; }

    a:hover {
      color: #fdb515; }

      a#brand {
        font-family: "Quicksand", "Helvetica", "Arial", sans-serif;
        font-size: 2em;
        font-weight: 500;
        text-decoration: none;
        color: black; }

        p > code, li > code {
          color: #358ccb;
          border: 1px solid rgba(97, 97, 97, 0.4);
          border-radius: 3px;
          padding: 0px 2px 0px 2px;
          margin: 0px 1px 0px 0px; }

          blockquote {
            font-size: 1.0625rem !important; }

            .header-icon {
              width: 24px;
              height: 24px; }
