{% extends "CV/base.html" %}
{% block content %}

<main>
  <div id="content">
    {% set all_fields = ["cs", "ds", "science"] %}
    {% set field=request.args.get("field", False) %}

    <!-- EDUCATION -->
    {% include "CV/education.html" %}

    <!-- CUSTOMS -->
    <!-- EXPERIENCE AND SKILLS -->
    {% if field == "general" %}
    {% include "CV/Resume_general.html" %}
    {% elif field == "fullstack" %}
    {% include "CV/Resume_fullstack.html" %}
    {% elif field == "software" %}
    {% include "CV/Resume_software.html" %}
    {% elif field == "research" %}
    {% include "CV/Resume_research.html" %}
    {% else %}
    {% include "CV/all.html" %}
    {% endif %}
  </div>
</main>
{% endblock %}