<header>
  <nav class="navbar navbar-expand navbar-light">
    <div class="d-flex mx-auto">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link active" href="{{site_url}}">Home</a>
        </li>
        {% for nav in navbar.values() %}
        <li class="nav-item"><a class="nav-link" href="{{url_for(nav['url'])}}">{{ nav['text'] }}</a></li>
        {% endfor %}
        <!-- <li class="nav-item"><a class="nav-link" href="{{site_url}}posts">Posts</a></li> -->
        <!-- <li class="nav-item"><a class="nav-link" href="{{site_url}}notes">Notes</a></li> -->
        <!-- <li class="nav-item"><a class="nav-link" href="{{site_url}}docs">Documentation</a></li> -->
      </ul>
    </div>
  </nav>
</header>