{% extends "base.html" %}
{% block content %}
{% include "header.html" %}
<main class="container-lg">
  <div class="row gx-5">

    <section id="sidebar" class="col-md-3 mb-4">

      <div id="namecard" class="mb-3">
        <div class="mb-3"><img class="d-block rounded-circle shadow-lg" style="width: 200px;"
            src="/static/images/headshot_500x500.jpg"></div>
        <a id="brand" href="{{site_url}}">{{ site_brand }}</a>
        <small>(Keto D. Zhang)</small>
        <p class="d-xs-none d-md-block">Software Engineer<br>BA Astrophysics and Data Science</p>
      </div>

      <div id="socials">
        <ul class="nav">
          {% for social in social_links %}
          <li class="me-2">
            <a class="social-link" href="{{url_for(social['url'])}}" title="{{ social['name'] }}" target="_blank">
              <img class="header-icon" src="{{ social['icon'] }}">
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    <section id="home-body" class="col">
      <section>
        <h2>Bio</h2>
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </section>

      <section>
        <h2>Selected Works</h2>
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </section>

      <section>
        <h2>Blog</h2>
        {% include "post_showcase.html" %}
      </section>
    </section>

  </div>
</main>
{% endblock %}