{% extends "base.html" %} {% block content %}
<div class="container-fluid" id="note">
  <!-- <nav class="navbar navbar-expand-lg">
        <button id="sidenavCollapse" class="btn btn-info" type="button">
            <i class="fas fa-align-left"></i>
            <span>Toggle Sidebar</span>
        </button>
    </nav> -->
  <article class="row">
    <!-- Notebook Sidenav -->
    <div class="col-3 bg-light pt-1">
      <div class="sidenav sticky-top vh-80">
        <div class="sidenav-header row no-gutters">
          <div class="col-9">
            <strong>{{page['title']}}</strong>
          </div>
          <div class="col-2 offset-1">
            <a class="go-up" href="{{url_for(page.parent_url)}}" role="button">
              <img src="https://img.icons8.com/dotty/80/000000/up.png" style="width: 25px; height: 25px" />
            </a>
          </div>
        </div>
        <div class="sidenav-body no-gutters">
          <ul class="no-list-style pl-3">
            {% for subpage in page.subpages %}
            <li class="pb-3">
              <a href="{{url_for(subpage.url)}}">{{subpage.title}}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <!-- Content -->
    <div class="col-7 col-md-6">
      <h1 class="title text-center pt-3">{{page['title']}}</h1>
      {% if page['has_content'] %}
      <div class="markdown-content">
        {{ include_raw(page['content_path']) }}
      </div>
      {% endif %}
    </div>
    <!-- On This Page -->
    <div class="col-md-3 d-none d-md-block">
      {% include "onthispage.html" %}
    </div>
  </article>
</div>
{% endblock %}