{% extends "base.html" %}
{% block content %}
{% include 'header.html' %}
<div class="container">
  <!-- page can either be a notebook or a note -->
  {% block header %}
  <h1 class="title mb-4"> {% block title %} Notebooks {% endblock %}</h1>
  {% endblock %}
  <div class="search form-group"><input id="dummy_search_notes" class="form-control" placeholder="Search"></input>
  </div>
  <div class=" modal fade" id="search_modal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <div class="w-100">
            <input id="search_notes" class="form-control" type="text" placeholder="Search" oninput="search_notes()">
          </div>
        </div>
        <div class="modal-body">
          <div id="search_results" class="list-group"> </div>
        </div>
      </div>
    </div>
  </div>

  <ul>
    {% for collection in notes_directory %}
    <ul><a href="{{ collection.url }}">{{ collection.title }}</a>
      {% for page in notes_directory.glob_articles(collection.article_fpath) %}
      <li>{{ page }}</li>
      {% endfor %}
    </ul>
    {% endfor %}
  </ul>

  {#
  <div id="notes-card-columns" class="card-columns">
    {% for notebook in notes_directory %}
    <div class="card">
      <div class="card-header">
        <a class="text-dark" href="{{ notebook.url }}" target='_blank'>
          <strong>{{ notebook.title }}</strong>
        </a>
      </div>
      <div class="list-group list-group-flush">
        {% for page in notebook %}
        <a class="list-group-item list-group-item-action" href="{{ page.url }}" target='_blank'>
          <!-- <img class='pr-2' src="static/images/icons8-spiral-bound-booklet.png" style="height: 24px"> -->
          {{ page.title }}
        </a>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
  #}
  <!-- </ul> -->
  <!-- {% for url in notebook_urls %}
    <p><a href={{url}}>{{url}}</a></p>
    {% endfor %} -->
</div>
{% endblock %}

{% block scripts %}
{% raw %}
<script>
  pages = JSON.parse({{ context.json() | tojson | safe }})
</script>
<script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>
<script src="static/js/search_notes.js"></script>
{% endraw %}
{% endblock %}