{% extends "base.html" %}
{% block content %}
<div class="container-fluid" id="note">
    <h1 class="title text-center pt-3">{{frontmatter['title']}}</h1>
    <hr>
    <div class="row">
        <div class="col-lg-2 d-none d-lg-block"></div>
        <div class="col-lg-7 col-md-10">
            {% include content_path %}
        </div>
        <div class="col-md-2 d-none d-md-block">
            <div class="sticky-top onthispage">
                <ul id="onthispage-list" class="no-list-style">On This Page</ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}