<div id="post-showcase">
  {% for post in posts %}
  <!-- <div class="card">
    <div class="row">
      <div class="card-img col-md-5 col-lg-4 mb-sm-2 mb-lg-0">
        <a href="{{ url_for(post.url )}}">
          <img class="card-img" src={{ url_for(post.get('image', '/static/images/default.jpg' )) }}>
        </a>
      </div>
      <div class="col-md-7 col-lg-8">
        <div class="card-body">
          <h5 class="card-title"><a href="{{ url_for(post.url )}}">{{post.title}}</a></h5>
          <p class="card-subtitle"><time datetime="{{ post.last_updated }}"></time></p>
          <p class="card-text">{{post.get('description', '')}}</p>
        </div>
      </div>
    </div>
  </div> -->


  <div class="post-card mb-3">
    <div class=" row gx-4">

      <div class="col-4">
        <img class="img-fluid" src={{ url_for(post.get('image', '/static/images/default.jpg' )) }}>
      </div>

      <div class="col-8">
        <div class="post-card-body">
          <div class="post-card-title">
            <h4><a href="{{ url_for(post.url )}}">{{post.title}}</a></h4>
          </div>

          <div class="post-card-description">{{post.get('description', '')}}</div>
          <div class="post-card-footer">
            <small class="text-muted">
              Last updated <time datetime="{{ post.last_updated }}"></time>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>