{% extends "base.html" %}
{% block content %}
{% include 'header.html' %}
<div class="container" id="post">
  <div class="row">
    <!-- Content -->
    <div class="col-9">
      <div class="title-header">
        <h1 class="title">{{page['title']}}</h1>
        {% if page.description %}
        <p class="subtitle">{{page.description}}</p>
        {% endif %}
        <img id="post-img" class="mx-auto d-block img-fluid" src={{
          url_for(page.get('image', '/static/images/default.jpg' )) }}>

        <div class="metadata">
          {{author}} &bull; <time datetime="{{ page.last_updated }}"></time>
          </p>
        </div>
        <hr>
      </div>

      <div class="markdown-content mt-4">
        {% if page['has_content'] %}
        {{ include_raw(page['content_path']) }}
        {% endif %}
      </div>
    </div>

    <div class="col"></div>


  </div>
  <!-- Disqus Comments -->
  <div id="disqus_thread" class="row justify-content-center">
    <button type=" button" class="col-6 col-align-self-center btn btn-block btn-outline-dark show-comments">Show
      Comments</button>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.2.0/anchor.js"></script>
<script>
  anchors.add();
</script>
{% endblock %}