<div class="item">
  <div class="row">
    <div class="col-8">
      <div class="position">Astronomy Researcher</div>
      <div class="company">Alex Filippenko Research Group</div>
    </div>
    <div class="col-4 text-right">June 2019 &ndash; May 2020 <br><em>Berkeley, CA</em></div>
    <ul>
      <li>
        Analyzed a large set of type Ia supernovae to study the implications of geometric asymmetries in its
        morphology from its peak-time velocity distribution. This analysis is done by statistical clustering with
        Gaussian mixtures and inference through Monte Carlo simulations comparing toy simulations to literature
        numerical models. Results are pending for publication as a first author paper.
      </li>
    </ul>
  </div>
</div>

<div class="item">
  <div class="row">
    <div class="col-8">
      <div class="position">Machine Learning Intern</div>
      <div class="company">Solar Energy Research Institute of Singapore</div>
    </div>
    <div class="col-4 text-right">Jun 2018 &ndash; Aug 2018 <br><em>Singapore</em></div>

  </div>
  <ul>
    <li>
      Developed regression models relating CCD measurements to solar irradiance. This relation is then used in an ARIMA model to forecast solar irradiance which is important for PV grid management. The models provided a minimal working product to further assess the potential of all-sky cameras as a useful imaging tool for solar irradiance forecasting.
    </li>
  </ul>
</div>

<div class="row item">
  <div class="col-8">
    <div class="position">Research Intern</div>
    <div class="company">Lawrence Berkeley National Lab &ndash; ALS</div>
  </div>
  <div class="col-4 text-right">Aug 2016 &ndash; Dec 2017 <br><em>Berkeley, CA</em></div>
</div>