<div class="item">
  <div class="row">
    <div class="col-8">
      <div class="position">Applications Developer</div>
      <div class="company">CalTech IPAC</div>
    </div>
    <div class="col-4 text-right">July 2021 &ndash; Present <br><em>Pasadena, CA</em></div>
  </div>
  Develop astrophysics data processing algorithms, prototype, and production-quality software
  from real and simulated space mission data for NASA's Nancy Grace Roman Space Telescope for the following science
  operations:

  <ul>
    <li>
      Identification of microlensing events to discover exoplanets.
    </li>
    <li>
      Characterization of exoplanet features from microlensing events.
    </li>
  </ul>
</div>

<div class="item">
  <div class="row">
    <div class="col-8">
      <div class="position">{% if position_title %} {{position_title}} {% else %} Data Engineer {% endif %}</div>
      <div class="company">WattTime</div>
    </div>
    <div class="col-4 text-right">July 2020 &ndash; July 2021 <br><em>Oakland, CA</em></div>
  </div>
  Maintained and extended a Python-based ETL data pipeline for an ML/AI
  framework that ultimately estimates power plant GHG emissions based on
  satellite imagery, atmospheric chemistry datasets, and real-time grid
  operations.
  <ul>
    <li><strong>Extract</strong>:
      Built scripts and continuous integration to ingest time series data
      for power plant generations and emission sources and satellite imagery
      (Google Earth Engine and Planet) at a rate of 100 GB per day.
    </li>
    <li> <strong>Transform</strong>:
      Developed a data pipeline that transforms data in batch or stream using Apache Airflow.
    </li>
    <li><strong>Load</strong>:
      Maintained a ML/AI data warehouse composed of various Google Cloud
      technology: Cloud Storage buckets for raw data storage, Big Query data
      warehouse for storing data transformation from Apache Airflow, and
      persistent cloud disk drives for high throughput access to terabytes
      of training data.
    </li>
  </ul>
</div>

<div class="item">
  <div class="row">
    <div class="col-8">
      <div class="position">{% if position_title %} {{position_title}} {% else %} Software Developer {% endif %}
      </div>
      <div class="company">Alex Filippenko Research Group</div>
    </div>
    <div class="col-4 text-right">May 2017 &ndash; May 2020 <br><em>Berkeley, CA</em></div>

  </div>
  Backend:
  <ul>
    <li>Designed and administered astronomy research MySQL database
      storing over 4 million calibrated supernovae images and metadata to
      replace the old method of searching for supernovae images using a file
      server. </li>
    <li> Designed and developed API web service (Python Flask
      framework) to interface the mentioned database. This will be used in the
      frontend to access the database. </li>
    <li>Developed an XML parser for
      astronomy's VOEvent convention. This was used in multimessenger astronomy
      to parse NASA's Gamma-ray Coordinates Network alerts (e.g., gravitational
      wave alerts). This was the first step in the process that enrolled our
      team into an exciting field of multimessenger astronomy.</li>
  </ul>
  <!-- Frontend:
      <ul>
        <li> Developed a web app to interface the image database replacing the team's tedious and time-consuming
          data-retrieval method from 1-2 days to minutes. The web app uses Python Flask for routing,
          JQuery (<strong>Javascript</strong>) for AJAX calls to the backend API server, and HTML5 & CSS3 (Bootstrap)
          for the web UI.
        </li>
        <li> Developed a multimessenger astronomy web app to display gravitational wave alerts from Ligo-Virgo and the
          images from our telescope that was taken in the region of the gravitational wave candidate.</li>
      </ul> -->
  System Administration:
  <ul>
    <li>
      Deployed, automated, and administrated research pipelines and softwares in Linux production server using Git
      for version control, Make + Gunicorn + Apache + systemd for deploying, and automating and monitoring
      web services.
    </li>
    <!-- <li>
      Maintained <strong>Python</strong> virtual environment hierarchy so that users' development, teams' development, and server's production environment are not in conflict. and test scripts.
    </li> -->
  </ul>
</div>