@import "variables";

#post {
  #post-img {
    object-fit: contain;
    margin-top: -0.5em;
    margin-bottom: 1em;
    height: 360px;
    width: 100%;
  }
  // On This Page
  .onthispage {
    position: sticky;
    width: unset;
  }
}

.post-card {
  transition: opacity 0.2s ease-in-out;

  :hover {
    opacity: 0.8;
  }

  a, a:hover {
    text-decoration: none;
    color: inherit;
  }

  .row {
    border: 2px solid $base-font-color;
    border-radius: $base-border-radius;
    padding: 1em;
  }

  .post-card-title {
    * {
      line-height: 1.25;
    }
  }

  .post-card-description {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3em;
  }

  .post-card-footer {
    margin-top: 0.5em;
  }
}