// Font
$base-font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
$base-font-color: #595959;
$style-font-family: "Quicksand", "Helvetica", "Arial", sans-serif;
$code-font-family: "Source Code Pro", "Courier New", Courier, monospace;

// Fontsize
$base-font-size: 1.0625rem; // 17px
$xlarge-font-size: $base-font-size * 2;
$large-font-size: $base-font-size * 1.5;
$medium-font-size: $base-font-size * 1.25;
$small-font-size: $base-font-size * 0.75;

// Colors
$light-border-color: rgba(0, 0, 0, 0.25);
$link-color: #58a6ff;

// Border Radius
$base-border-radius: 20px;
