@import "variables";
$card-height: 170px;
// Post Showcase

#post-showcase {
  .card {
    margin-bottom: 2em;
    padding: 2em;
    border: 1px solid $light-border-color;
    border-radius: $base-border-radius;
    box-shadow: inset 0px 0px 1px 0px #616161;
  }

  .card-img {
    height: $card-height;
    object-fit: cover;
  }

  .card-body {
    height: $card-height;
    overflow-y: hidden;
    padding: 0;

    .card-title {
      font-size: $base-font-size * 1.5;
      line-height: 1.2;
      a {
        color: #007bff;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    .card-text,
    .card-subtitle {
      font-size: $base-font-size;
    }
  }
}

#post {
  #post-img {
    margin-top: -0.5em;
    margin-bottom: 0.5em;
  }
  // On This Page
  .onthispage {
    position: sticky;
    width: unset;
  }
}
