// Font
$base-font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
$base-font-size: 1.0625rem; // 17px
$base-font-color: #595959;
$style-font-family: "Quicksand", "Helvetica", "Arial", sans-serif;
$code-font-family: "Source Code Pro", "Courier New", Courier, monospace;
