body {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  padding-bottom: 80px;
  color: #595959; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: "Quicksand", "Helvetica", "Arial", sans-serif;
    color: black;
    line-height: 2.25; }

code {
  font-family: "Source Code Pro", "Courier New", Courier, monospace; }

  p > code, li > code {
    color: #358ccb;
    border: 1px solid rgba(97, 97, 97, 0.4);
    border-radius: 3px;
    padding: 0px 2px 0px 2px;
    margin: 0px 1px 0px 0px; }

    blockquote {
      font-size: 1.0625rem !important; }

      #pagenav {
        font-family: "Quicksand", "Helvetica", "Arial", sans-serif; }
        #pagenav .nav-item {
          font-weight: bold; }
          #pagenav .header-icon {
            width: 24px;
            height: 24px; }
            #pagenav .nav-link {
              padding-top: 0;
              padding-bottom: 0; }
              #pagenav .nav-link:after {
                content: "";
                display: block;
                border-bottom: 2px solid transparent; }
                #pagenav .nav-link:hover::after {
                  content: "";
                  display: block;
                  margin: 0 auto;
                  border-bottom: 2px solid rgba(253, 181, 21, 0.7);
                  color: black; }

.Proof, .Example {
  border: 1px solid black;
  margin-bottom: 1em; }
  .Proof:before, .Example:before {
    display: block;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background: rgba(0, 128, 0, 0.25);
    font-weight: 600;
    font-style: italic; }
    .Proof:after, .Example:after {
      content: "...";
      display: block;
      text-align: center; }
      .Proof:hover:after, .Example:hover:after {
        content: "...";
        background: rgba(128, 128, 128, 0.25);
        display: block;
        text-align: center;
        transition: 0.2s; }
        .Proof p, .Example p {
          padding-left: 0.5em;
          padding-right: 0.5em; }

.Proof > * {
  display: none; }
  .Proof:before {
    content: "Proof"; }

.Example:before {
  content: "Example"; }

#note .onthispage {
  position: fixed;
  width: 200px; }

#post-showcase {
  font-family: "Quicksand", "Helvetica", "Arial", sans-serif; }
  #post-showcase .card {
    margin-bottom: 2em;
    padding: 2em;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0.25em;
    box-shadow: inset 0px 0px 1px 0px #616161; }
    #post-showcase .card-img {
      height: 170px;
      object-fit: cover; }
      #post-showcase .card-body {
        padding: 0; }
        #post-showcase .card-body .card-title {
          font-size: 1.59375rem;
          line-height: 1.2; }
          #post-showcase .card-body .card-title a {
            color: #007bff; }
            #post-showcase .card-body .card-title a:hover {
              text-decoration: underline; }
        #post-showcase .card-body .card-text, #post-showcase .card-body .card-subtitle {
          font-size: 1.0625rem; }

#post .onthispage {
  position: sticky;
  width: unset; }

html {
  overflow-y: scroll; }

  .container {
    max-width: 90%; }

    .container-fluid {
      max-width: 95%;
      padding: 0; }

      @media (min-width: 1200px) {
        .container {
          max-width: 1000px;   }
}

html {
  position: relative;
  min-height: 100%; }

  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none; }

    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
      text-decoration: none; }

      .title {
        color: black;
        text-decoration: none;
        line-height: 1;
        margin-bottom: 1em; }

        .metadata {
          margin-top: -2em;
          margin-bottom: 2em; }

          .card-title {
            color: black; }

            a.brand {
              font-size: 2.25em;
              text-decoration: none;
              color: black; }

              .navbar-light .navbar-nav .nav-link {
                color: black; }

                hr.gradient {
                  border: 0;
                  height: 1px;
                  background-image: linear-gradient(to right, rgba(253, 181, 21, 0), #fdb515 50%, rgba(253,
                                    181, 21, 0)); }

                  .social-link img:hover {
                    opacity: 0.7; }

                    blockquote {
                      border-left: 0.25em solid #dfe2e5;
                      color: #6a737d;
                      padding: 0 1em;
                      margin-bottom: 16px;
                      margin-top: 0; }

                      footer {
                        display: flex;
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        height: 60px;
                        font-size: 1rem;
                        align-items: center;
                        border-top: 1px solid rgba(0, 0, 0, 0.1); }

                        .bg-warning {
                          background-color: #fdb515; }

                          .btn-link {
                            text-decoration: none;
                            font-weight: inherit;
                            color: inherit; }

                            .btn-link:hover {
                              text-decoration: none; }

                              .btn-warning {
                                background-color: #fdb515; }

                                .icon {
                                  height: 1em; }

                                  .limit-2-lines {
                                    text-overflow: ellipsis;
                                    word-wrap: break-word;
                                    max-height: 3em; }

                                    .limit-2-lines::before {
                                      content: "";
                                      width: 100%;
                                      height: 100%;
                                      position: absolute;
                                      left: 0;
                                      top: 0;
                                      background: linear-gradient(transparent 150px, white); }

                                      .no-list-style {
                                        list-style-type: none; }

                                        .sticky-top {
                                          z-index: auto; }

                                          #post-img {
                                            width: 100%;
                                            height: 360px;
                                            object-fit: cover; }

                                            .sidenav {
                                              text-overflow: ellipsis;
                                              font-family: "Open Sans", "Roboto", san-serif; }

                                              .sidenav a {
                                                color: #616161; }

                                                .sidenav-body {
                                                  font-size: 1rem;
                                                  line-height: 1.15rem; }

                                                  .sidenav-header {
                                                    padding-top: 1em;
                                                    padding-bottom: 0.5em; }

                                                    .onthispage {
                                                      position: sticky;
                                                      top: 0;
                                                      height: 20vh;
                                                      padding-right: 1em; }

                                                      .onthispage .sidenav-body, .onthispage .sidenav {
                                                        height: inherit;
                                                        direction: ltr; }

                                                        .onthispage .sidenav-body {
                                                          padding-right: 0px;
                                                          padding-top: 0.5em; }

                                                          .onthispage .sidenav-body ul {
                                                            padding: 0;
                                                            padding-left: 0.5em; }

                                                            .onthispage .onthispage-collapse {
                                                              display: none; }

                                                              .onthispage:hover .onthispage-collapse {
                                                                display: block; }

                                                                .onthispage > ul {
                                                                  padding-left: 0; }

                                                                  .onthispage ul {
                                                                    padding-left: 1em; }

                                                                    .onthispage-list {
                                                                      padding-bottom: 1em !important; }

                                                                      .onthispage-list li {
                                                                        padding-top: 1em; }

                                                                        .onthispage-list li:first-child {
                                                                          padding-top: 0em; }

                                                                          .markdown-content {
                                                                            font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
                                                                            line-height: 1.6em; }

                                                                            .markdown-content h1, .markdown-content h2, .markdown-content h3,
                                                                            .markdown-content h4, .markdown-content h5, .markdown-content h6 {
                                                                              margin-top: 1em;
                                                                              margin-bottom: 0.5em;
                                                                              font-family: "Quicksand", "Open Sans", "Helvetica", "Arial", sans-serif; }

                                                                              .markdown-content h1 {
                                                                                font-size: 2.5rem; }

                                                                                .markdown-content h2 {
                                                                                  font-size: 2rem; }

                                                                                  .markdown-content h3 {
                                                                                    font-size: 1.75rem; }

                                                                                    .markdown-content h4, .markdown-content h5, .markdown-content h6 {
                                                                                      font-size: 1rem;
                                                                                      font-weight: bold; }

                                                                                      .markdown-content h2:first-child, .markdown-content h3:first-child,
                                                                                      .markdown-content h4:first-child {
                                                                                        margin-top: 0; }

                                                                                        .markdown-content table .markdown-content dl {
                                                                                          margin-bottom: 16px;
                                                                                          margin-top: 0; }

                                                                                          .markdown-content th {
                                                                                            border: 1px solid #dfe2e5;
                                                                                            border-bottom: 2px solid #dfe2e5;
                                                                                            padding: 6px 13px; }

                                                                                            .markdown-content td {
                                                                                              border: 1px solid #dfe2e5;
                                                                                              padding: 6px 13px; }

                                                                                              .markdown-content table tr.even {
                                                                                                background-color: #f6f8fa; }

                                                                                                .markdown-content dd {
                                                                                                  padding-left: 16px; }

                                                                                                  .markdown-content dt {
                                                                                                    font-size: 1em;
                                                                                                    font-style: italic;
                                                                                                    font-weight: 600;
                                                                                                    margin-top: 16px; }

                                                                                                    .markdown-content .sourceCode {
                                                                                                      font-size: 0.95em;
                                                                                                      margin-top: 1em;
                                                                                                      margin-bottom: 1.5em; }

                                                                                                      #note-body {
                                                                                                        min-height: 80vh; }

                                                                                                        #intro {
                                                                                                          max-width: 800px;
                                                                                                          margin: auto;
                                                                                                          margin-bottom: 1.5em;
                                                                                                          border: 1px solid rgba(0, 0, 0, 0.25);
                                                                                                          border-radius: 0.25em;
                                                                                                          box-shadow: inset 0px 0px 1px 0px #616161;
                                                                                                          font-family: "Quicksand", "Helvetica", "Arial", sans-serif; }
                                                                                                          #intro blockquote {
                                                                                                            font-family: "Quicksand", "Helvetica", "Arial", sans-serif;
                                                                                                            font-size: 1.32812rem;
                                                                                                            line-height: 2rem;
                                                                                                            color: #616161;
                                                                                                            padding-right: 0;
                                                                                                            margin: 0; }
                                                                                                            #intro .title {
                                                                                                              margin-bottom: 0;
                                                                                                              font-size: 1.59375rem; }

#project-showcase {
  font-family: "Quicksand", "Helvetica", "Arial", sans-serif; }
  #project-showcase .title {
    margin-bottom: 0.5em; }



body {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  padding-bottom: 80px;
  color: #595959; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: "Quicksand", "Helvetica", "Arial", sans-serif;
    color: black;
    line-height: 2.25; }

code {
  font-family: "Source Code Pro", "Courier New", Courier, monospace; }

  p > code, li > code {
    color: #358ccb;
    border: 1px solid rgba(97, 97, 97, 0.4);
    border-radius: 3px;
    padding: 0px 2px 0px 2px;
    margin: 0px 1px 0px 0px; }

    blockquote {
      font-size: 1.0625rem !important; }

#pagenav {
  font-family: "Quicksand", "Helvetica", "Arial", sans-serif; }
  #pagenav .nav-item {
    font-weight: bold; }
    #pagenav .header-icon {
      width: 24px;
      height: 24px; }
      #pagenav .nav-link {
        padding-top: 0;
        padding-bottom: 0; }
        #pagenav .nav-link:after {
          content: "";
          display: block;
          border-bottom: 2px solid transparent; }
          #pagenav .nav-link:hover::after {
            content: "";
            display: block;
            margin: 0 auto;
            border-bottom: 2px solid rgba(253, 181, 21, 0.7);
            color: black; }

#note .onthispage {
  position: fixed;
  width: 200px; }

#post-showcase {
  font-family: "Quicksand", "Helvetica", "Arial", sans-serif; }
  #post-showcase .card {
    margin-bottom: 2em;
    padding: 2em;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0.25em;
    box-shadow: inset 0px 0px 1px 0px #616161; }
    #post-showcase .card-img {
      height: 170px;
      object-fit: cover; }
      #post-showcase .card-body {
        padding: 0; }
        #post-showcase .card-body .card-title {
          font-size: 1.59375rem;
          line-height: 1.2; }
          #post-showcase .card-body .card-title a {
            color: #007bff; }
            #post-showcase .card-body .card-title a:hover {
              text-decoration: underline; }
        #post-showcase .card-body .card-text, #post-showcase .card-body .card-subtitle {
          font-size: 1.0625rem; }

#post .onthispage {
  position: sticky;
  width: unset; }

.Proof, .Example {
  border: 1px solid black;
  margin-bottom: 1em; }
  .Proof:before, .Example:before {
    display: block;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background: rgba(0, 128, 0, 0.25);
    font-weight: 600;
    font-style: italic; }
    .Proof:after, .Example:after {
      content: "...";
      display: block;
      text-align: center; }
      .Proof:hover:after, .Example:hover:after {
        content: "...";
        background: rgba(128, 128, 128, 0.25);
        display: block;
        text-align: center;
        transition: 0.2s; }
        .Proof p, .Example p {
          padding-left: 0.5em;
          padding-right: 0.5em; }

.Proof > * {
  display: none; }
  .Proof:before {
    content: "Proof"; }

.Example:before {
  content: "Example"; }
