<div id="research-experiences" class="section">
  <h1>Research Experiences</h1>
  <hr>
  <div class="section-body">
    {% include "CV/experiences/leadership.html" %}
    {% include "CV/experiences/scientist.html" %}
  </div>
</div>

<div id="software-experiences" class="section">
  <h1>Software Experiences</h1>
  <hr>
  <div class="section-body">
    {% include "CV/experiences/fullstack_developer.html" %}
    {% include "CV/experiences/python_developer.html" %}
  </div>
</div>

<!-- PUBLICATIONS -->
{% include "CV/publications.html" %}
{% include "CV/references.html" %}