<div class="section">
  <h1>Professional Positions</h1>
  <hr>
  <div class="section-body">

    <!-- Alex Filippenko Group -->
    <div class="row item">
      <div class="col-8">
        <span class="position">Google Lick Predoctoral Fellow</span>
        <span class="company">Alex Filippenko Research Group</span>
      </div>
      <div class="col-4 text-right">May 2017 - Present</div>
      <div class="col">
        <em>Python Developer, Lead of Undergrad Reasearch Telescope Observers, Supernovae Researcher</em>
      </div>
    </div>

    <!-- SERIS -->
    <div class="row item">
      <div class="col-8">
        <span class="position">Summer Research Intern</span>
        <span class="company">Solar Energy Research Institute of Singapore</span>
      </div>
      <div class="col-4 text-right">Jun 2018 - Aug 2018</div>
    </div>

    <!-- ALS LBNL -->
    <div class="row item">
      <div class="col-8">
        <span class="position">Research Intern</span>
        <span class="company">Lawrence Berkeley National Lab - ALS</span>
      </div>
      <div class="col-4 text-right">Aug 2016 - Dec 2017</div>
    </div>

    <!-- Cal Alumni -->
    <div class="row item">
      <div class="col-8">
        <span class="position">Desktop Support Technician</span>
        <span class="company">Cal Alumni Association</span>
      </div>
      <div class="col-4 text-right">Mar 2015 - May 2017</div>
    </div>

  </div>
</div>