<div id="references" class="section">
  <h1>References</h1>
  <hr>
  <div class="section-body">

    <div class="item">
      <div class="name">Alex Filippenko</div>
      <div class="role">Astronomy Professor</div>
      <div class="relation">Research Group Lead, Principal Investigator</div>
      <div class="company">Department of Astronomy, University of California, Berkeley, CA 94720</div>
      <ul class="contacts">
        <li><a href="mailto:afilippenko@berkeley.edu">afilippenko@berkeley.edu</a></li>
        <li>(510) 642–5275</li>
      </ul>
    </div>

    <div class="item">
      <div class="name">WeiKang Zheng</div>
      <div class="role">Postdoc, Filippenko's Research Associate</div>
      <div class="relation">Research and Software Development Supervisor</div>
      <div class="company">Department of Astronomy, University of California, Berkeley, CA 94720</div>
      <ul class="contacts">
        <li><a href="mailto:zwk@astro.berkeley.edu">zwk@astro.berkeley.edu</a></li>
      </ul>
    </div>

    <!-- <div class="item">
      <div class="name">Dan Weisz</div>
      <div class="role">Astronomy Assistant Professor</div>
      <div class="relation">Astronomy Data Lab Lecturer</div>
      <div class="company">Department of Astronomy, University of California Berkeley, Berkeley, CA 94720</div>
      <ul class="contacts">
        <li><a href="mailto:dan.weisz@berkeley.edu">dan.weisz@berkeley.edu</a></li>
      </ul>
    </div> -->

    <div class="item">
      <div class="name">Alex Frano</div>
      <div class="role">Physics Assistant Professor</div>
      <div class="relation">Lecturer, Lab Supervisor</div>
      <div class="company">Department of Physics, University of California San Diego, La Jolla, CA 92093</div>
      <ul class="contacts">
        <li><a href="mailto:afrano@physics.ucsd.edu">afrano@physics.ucsd.edu</a></li>
      </ul>
    </div>

  </div>
</div>
</div>