<!-- SKILLS-->
<div class="section">
  <h1>Skills</h1>
  <hr>
  <div class="section-body">
    <ul class="multicol mb-0">
      <li><strong>Frontend:</strong> HTML, CSS, Bootstrap CSS, Javascript, AJAX, JQuery, React</li>
      <li><strong>Backend:</strong> Python, Flask, Java, SQL, MySQL, PostgreSQL</li>
      <li><strong>Server:</strong> Docker, Apache, Nginx, Google Cloud, Microsoft Azure</li>
      <li><strong>Others: </strong> Git, GitHub</li>
    </ul>
  </div>
</div>


<!-- Related Experiences -->
<div class="section">
  <h1>Related Experiences</h1>
  <hr>
  <div class="section-body">

    <div class="row item">
      <div class="col-12">
        <span class="item-title">
          Backend Development (<em>3 years</em>)
        </span>
      </div>
      <ul class="mb-0">
        <!-- <li>
          Flexibility to develop in Windows or Linux machine which is especially simple with Visual Studio Code. Have
          always
          considered compatibility on any OS when
          developing. Testing on OS include using multiple machines but preferably Docker when multiple machines are not
          available.
          .
        </li> -->
        <li>Designed and administered research astronomy MySQL database storing over 4 million supernovae images output
          from photometry calibration pipeline. Developed Python CLI, RESTful API, and Flask
          web interface for more accessible data-retrieval. Reduced research team's tedious and time-consuming
          data-retrieval method from 1-2 days to minutes using the new data interface.
        </li>
        <li>
          Deployed and administrated research pipelines and softwares in Linux production server using Git for version
          control, gunicorn + apache + systemd for web server and monitoring, and bash/Python/Make for deploy, debug,
          and
          test scripts.
        </li>
        <!-- <li>Aid in debugging and development of remote telescope observation from home (script of SSH, VPN, and VNC for
          multiple instrument ports and telescope servers)
          during COVID-19 pandemic for Lick
          Observatory.</li> -->
      </ul>
    </div>

    <div class="row item">
      <div class="col-12">
        <span class="item-title">
          Frontend Development (<em>3 years</em>)
        </span>
      </div>
      <ul class="mb-0">
        <li>Developed AJAX web UI to query and represent research team's astronomy SQL database.</li>
        <li><strong>Built this resume</strong> with HTML and Bootstrap CSS without Javascript.</li>
        <li><strong>Built my <a href="https://ketozhang.github.io/">web portfolio</a></strong> with StaticPy (a static
          website framework I built), Bootstrap CSS, and JQuery. Althought the website is static, all dynamic components
          are client-side rendered using Javascript.</li>
      </ul>
    </div>

    <div class="row item">
      <div class="col-12">
        <span class="item-title">
          Python Development (<em>5 years</em>)
        </span>
      </div>
      <ul class="mb-0">
        <li>StaticPy, sole developer of a Python Flask static website framework. Supports writing Markdown files and
          LaTex support to be rendered into notebooks and blogposts. General HTML content is supported through the Flask
          framework.
        </li>
        <li>AstroAPIServer, sole developer of a Flask backend web API toolkit intended for astronomy research data
          releases and team data access from various SQL database. Features include an admin web console built
          from its OpenAPI specification, login authentication (JWT, CSRF and XSS security), user authorization
          (user-role schema) and supports astronomy's IVOA data conventions (SIA and DALI).
      </ul>
    </div>

    <div class="row item">
      <div class="col-12">
        <span class="item-title">
          Leadership Experience (<em>2 years</em>)
        </span>
      </div>
      <ul class="mb-0">
        <li>Trained and led 15 members to observe on the Nickel 1-m telescope overnight, scheduled 80
          observing nights accomodating everyone's school and night schedules, and persuaded undergrads to also do
          academic research leading to research fellowships and publications.</li>
      </ul>
    </div>
  </div>
</div>