<!-- SKILLS-->
<div id="skills" class="section">
  <h1>Skills</h1>
  <hr>
  <div class="section-body">
    <ul class="multicol mb-0">
      <li><strong>Frontend:</strong> HTML, CSS, Bootstrap CSS, Javascript, AJAX, JQuery, React</li>
      <li><strong>Backend:</strong> Python, Flask, Java, SQL, MySQL, PostgreSQL</li>
      <li><strong>Server:</strong> Docker, Apache, Nginx, Google Cloud, Microsoft Azure</li>
      <li><strong>Others: </strong> Git, GitHub</li>
    </ul>
  </div>
</div>

<div id="experiences" class="section">
  <h1>Related Experiences</h1>
  <hr>
  <div class="section-body">
    {% set include_backend=True %}
    {% set include_frontend=True %}
    {% set include_sysadmin=True %}
    {% include "CV/experiences/fullstack_developer.html" %}
    {% include "CV/experiences/leadership.html" %}
  </div>
</div>