{% extends 'base.html' %}
{% include 'header.html' %}
{% block content %}
<main class="container">
  <h1 class="title">Flashcards</h1>
  <div class="row">
    <div class="col-md-7 order-md-2">
      <div class="flashcard d-none">
        <div class="flashcard-prev"></div>
        <div class="flashcard-next"></div>
        <div class="flashcard-body">
          <div class="flashcard-counter"></div>
          <div class="flashcard-content">
            {% include 'notes/Physics/GRE_Review/Flashcards.html' %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 order-md-1">
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="shuffle" checked>
        <label class="custom-control-label" for="shuffle">Shuffle</label>
      </div>
      <ul id="flashcard-list" class="no-list-style w-50 mt-3 pl-0"></ul>
      <button role="button" data-toggle="collapse" href="#dlist" id="show_dlist" class="btn btn-light"> Show definition
        list</button>
      <div id="dlist" class="collapse">
        <hr>
        {% include 'notes/Physics/GRE_Review/Flashcards.html' %}
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block scripts %}
<script src="{{site_url}}static/flashcard.js"></script>
<!-- <script>
$("#show_dlist").click(function () {
  $("#dlist").removeClass('d-none')
})
</script> -->
{% endblock %}